{% comment %}
Contact form created with Formspree.
See https://formspree.io for how to activate it.
If you're hosting on Netlify, you can use Netlify forms instead.
Activate this in settings.yml > web > form-provider > contact-form.
{% endcomment %}

<div class="contact-form">

    {% if site.data.settings.form-provider.contact-form == "netlify" %}
        <form data-netlify="true" netlify-honeypot="_gotcha" action="{{ site.baseurl }}/thank-you/" method="POST" name="contact">
    {% else %}
        <form action="https://formspree.io/{{ site.data.settings.email }}" method="POST">
    {% endif %}

        <label for="form-name">{{ site.data.locales[site.data.settings.language].contact.label.name | markdownify | replace: "<p>", "" | replace: "</p>", "" }}</label>
        <input type="text" name="name" id="form-name" placeholder="{{ site.data.locales[site.data.settings.language].contact.placeholder.name }}">

        <label for="form-email">{{ site.data.locales[site.data.settings.language].contact.label.email | markdownify | replace: "<p>", "" | replace: "</p>", "" }}</label>
        <input type="email" name="_replyto" id="form-email" placeholder="{{ site.data.locales[site.data.settings.language].contact.placeholder.email }}">

        <label for="form-message">{{ site.data.locales[site.data.settings.language].contact.label.message | markdownify | replace: "<p>", "" | replace: "</p>", "" }}</label>
        <textarea type="text" name="message" id="form-message" placeholder="{{ site.data.locales[site.data.settings.language].contact.placeholder.message }}"></textarea>

        <input type="submit" value="{{ site.data.locales[site.data.settings.language].input.send }}">

        <input type="hidden" name="_next" value="{{ site.baseurl }}" />
        <input type="hidden" name="_subject" id="_subject" value="{{ site.data.locales[site.data.settings.language].contact.subject-line }}">
        <input type="text" name="_gotcha" style="display:none" />
    </form>
</div>
